<div>
    <h2><%= job.get('name') %></h2>

    <p><%= job.get('description') %></p>

    <div>
        <ul>
            <% job.get('projects').each(function(project) { %>
            <li>
                <a href="#jobs/<%= job.get('id') %>/<%= project.get('id') %>">
                    <%= project.get('name') %>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>

    <div id="project-content"></div>
</div>
